body{
    background-color: #9e0206;
    margin: 0;
    padding: 0;
}

div.background{
    height: 100vh;
    background-image: url('../images/background_2023_min.jpg');
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

div.background-blur{
    height: calc(100vh - 125px);
    background-image: url('../images/background-blur.png');
    padding-top : 125px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

div.box {
    height: 469px;
    width: 589px;
    /* background-color: green; */
    background-image: url('../images/box.png');
    /* border : 1px solid white; */
    margin: auto;
    text-align: center;
    /* padding: 30px; */
    overflow: hidden;
    z-index: 2;
    position: absolute;
    /* top: calc(50% - ÷; */
    left: calc(50% - 295px);
}

div.box-header > p{
    font-size: 40px;
    color : white;
}

div.box-body > input{
    font-size: 120px;
    color : #ebb61e;
    width: 225px;
}

div.box-body > span{
    font-size: 120px;
    color : #ebb61e;
    font-weight: bold;
    text-align: center;
    font-size: 140px;
}

div.box-footer > p {

    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    /* background-color : #ae1216; */
    /* border : 4px solid #ebb61e; */
    font-size: 40px;
    color: #ebb61e;
    /* width: 200px; */
}

div.box-footer > button:hover {
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color : #fff;
    border : 4px solid #ae1216;
    font-size: 40px;
    color: #ebb61e;
    width: 200px;
}

div.box-footer > button.disable {
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color : gray;
    border : 4px solid #ae1216;
    font-size: 40px;
    color: #aaa;
    width: 200px;
}

div.result {
    position: absolute;
    top: 0;
    left : 0;
    z-index: 999;
}

div.result ul li{
    display: inline-block;
    background: #21bbee;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    text-align: center;
    line-height: 70px;
    color: yellow;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 30px;
}

canvas {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
