<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Megaads - Quay số may mắn</title>
    <link rel="stylesheet" href="css/master.css?v=2019-1">
</head>

<body ng-app="myApp" ng-controller="drawController" ng-keyup="enter($event)">
    <div class="background" ng-show="state==-1">
    </div>
    <div class="background" ng-show="state>=0">
        <div class="background-blur">
            <div class="box" ng-show="state==0">
                <div class="box-header">
                    <p>MEGAADS<br />Nhập tổng số phiếu</p>
                </div>
                <div class="box-body">
                    <input type="text" ng-model="numberOfTickets" style="font-weight: bold;text-align: center"
                        focus-me="state==0">
                </div>
                <div class="box-footer">
                    <p>* Bấm ENTER để bắt đầu!</p>
                    <!-- <button type="button" name="button">Bắt đầu</button> -->
                </div>
            </div>
            <div class="box" ng-show="state==1">
                <div class="box-header">
                    <p>MEGAADS<br />Quay số May Mắn</p>
                </div>
                <div class="box-body">
                    <span>{{randomNumber}}</span>
                </div>
                <div class="box-footer">
                    <p>* Bấm ENTER để quay số!</p>
                    <!-- <button type="button" name="button">Quay số</button> -->
                </div>
            </div>
        </div>

    </div>
</body>
<div class="result">
    <ul>
        <li ng-repeat="result in resultSet track by $index">{{result}}</li>
    </ul>
</div>
<canvas id="canvas">Canvas is not supported in your browser.</canvas>
<style media="screen">
    canvas {
        cursor: crosshair;
        display: block;
    }
</style>
<script src="js/fireworks.js?v=2019-1" charset="utf-8"></script>
<script src="js/angular-1.5.js?v=2019-1" charset="utf-8"></script>
<script src="js/draw-controller.js?v=2019-1" charset="utf-8"></script>

</html>
